@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --clr-background-primary: #fff;
  --clr-background-secondary: #fff;
  --clr-primary: #1a1a1a;
  --clr-secondary: theme("colors.gray.600");
  --clr-hover: theme("colors.neutral.200");
  
}


#App {
  background-color: var(--clr-background-primary);
  color: var(--clr-primary);
}
#App.dark {
  --clr-background-primary: #000000e5;
  --clr-background-secondary:#000000e5;
  --clr-secondary: theme("colors.gray.300");
  --clr-primary: #fff;
  --clr-hover: theme("colors.neutral.800");
}

.skeleton * {
  @apply animate-pulse;
}
